<p>currentValue: {{ currentValue }}</p>

<ng-container *ngIf="rule">
	<ng-container *ngIf="rule.options && rule.options.length > 0;else simpleOnOff">
		<div class="option" *ngFor="let option of rule.options;let i=index">
			<div class="radioBtn" [class.selected]="selectedIndex === i"
			     (click)="writeValueInternal(i, option, option.value)">
				<div class="indicator"></div>
			</div>

			<div [class]="option.type" [ngSwitch]="option.type">
				<ng-container *ngSwitchCase="OptionType.NumberVariable">
					<input #input type="number" class="input"
					       [value]="option.value"
					       (focus)="writeValueInternal(i, option, input.value)"
					       (change)="writeValueInternal(i, option, input.value)">
				</ng-container>

				<ng-container *ngSwitchCase="OptionType.StringFixed">
					<code class="lang-js"
					      (click)="writeValueInternal(i, option, option.value)">"{{ option.value }}"</code>
				</ng-container>

				<ng-container *ngSwitchCase="OptionType.StringVariable">
					<input #input type="text" [value]="option.value"
					       (change)="writeValueInternal(i, option, input.value)">
				</ng-container>
			</div>
		</div>
	</ng-container>

	<ng-template #simpleOnOff>
		<div class="option">
			<div class="boolean">
				<input type="radio" [id]="rule.name + '_on'" [name]="rule.name">
				<label [for]="rule.name + '_on'">on</label>
			</div>
		</div>
		<div class="option">
			<div class="boolean">
				<input type="radio" [id]="rule.name + '_off'" [name]="rule.name">
				<label [for]="rule.name + '_off'">off</label>
			</div>
		</div>
	</ng-template>

	<app-example-viewer *ngFor="let example of rule.examples"
	                    [example]="example"></app-example-viewer>
</ng-container>
