<ng-container *ngIf="rule">
	<ng-container *ngIf="rule.options && rule.options.length > 0;else simpleOnOff">
		<div class="option" *ngFor="let option of rule.options;let i=index">
			<input type="radio" [id]="rule.name + i" [name]="rule.name">

			<div [class]="option.type" [ngSwitch]="option.type">
				<ng-container *ngSwitchCase="OptionType.NumberVariable">
					<input type="number" [value]="option.value">
				</ng-container>

				<ng-container *ngSwitchCase="OptionType.StringFixed">
					<label [for]="rule.name + i">
						<code class="lang-js">"{{ option.value }}"</code>
					</label>
				</ng-container>

				<ng-container *ngSwitchCase="OptionType.StringVariable">
					<input type="text" [value]="option.value">
				</ng-container>
			</div>
		</div>
	</ng-container>

	<ng-template #simpleOnOff>
		<div class="option">
			<div class="boolean">
				<input type="radio" [id]="rule.name + '_on'" [name]="rule.name">
				<label [for]="rule.name + '_on'">on</label>
			</div>
		</div>
		<div class="option">
			<div class="boolean">
				<input type="radio" [id]="rule.name + '_off'" [name]="rule.name">
				<label [for]="rule.name + '_off'">off</label>
			</div>
		</div>
	</ng-template>

	<app-example-viewer *ngFor="let example of rule.examples"
	                    [example]="example"></app-example-viewer>
</ng-container>
