.checkbox
	display: flex
	justify-content: center
	align-items: center

	width: var(--input-size)
	height: var(--input-size)

	margin-right: var(--input-label-margin)

	border-radius: .4rem

	box-shadow: var(--box-shadow-outset)

	cursor: pointer

	.check
		width: var(--inner-input-size)
		height: var(--inner-input-size)

		fill: var(--color-grey)


.checkbox.checked
	box-shadow: var(--box-shadow-inset)

	.check
		fill: var(--color-primary)


.checkbox.disabled
	background: var(--color-grey-light)

	cursor: not-allowed
