<form [formGroup]="formGroup">
<!--	<p>form.value : {{ formGroup.value | json  }}</p>-->

	<div class="group">
		<h3>Config File Type</h3>

		<div class="inputContainer" *ngFor="let one of fileTypes">
			<input type="radio" [formControlName]="FormFieldName.FileType"
			       [name]="FormFieldName.FileType"
			       [id]="one.value" [value]="one.value"
			       (change)="valueChanged(FormFieldName.FileType)">
			<ng-container *ngIf="one.value !== RuleFileType.InPackageJson;else inPackageJsonTemplate">
				<label [for]="one.value" class="devFont">{{ one.text }} (.{{ one.value }})</label>
			</ng-container>

			<ng-template #inPackageJsonTemplate>
				<label [for]="one.value">in <span class="devFont">package.json</span></label>
			</ng-template>
		</div>
	</div>

	<div class="group">
		<h3>Environment</h3>

		<app-checkbox-selector [formControlName]="FormFieldName.Environment"
		                       [enums]="envArr"></app-checkbox-selector>
	</div>

	<div class="group">
		<h3>Default Error Level</h3>

		<app-error-level-selector [formControlName]="FormFieldName.ErrorLevel"></app-error-level-selector>
	</div>

	<div class="group">
		<h3>skip rules in <code class="lang-js">"extends": "eslint:recommended"</code></h3>

		<div class="inputContainer">
			<input type="checkbox" [id]="FormFieldName.SkipRecommended"
			       [formControlName]="FormFieldName.SkipRecommended">
			<label [for]="FormFieldName.SkipRecommended">skip</label>
		</div>
	</div>

	<div class="group">
		<!-- todo: more extension plugins -->
		<h3>Target Packages</h3>

		<form [formGroupName]="FormFieldName.Packages">
			<div class="inputContainer" *ngFor="let one of packages">
				<input type="checkbox" [id]="one.value" [formControlName]="one.value">
				<label [for]="one.value">{{ one.text }} - <code class="language-">{{ one.value }}</code></label>
			</div>
		</form>
	</div>

	<div class="group">
		<h3>Rule Order</h3>

		<div class="inputContainer" *ngFor="let one of ruleOrders">
			<input type="radio" [formControlName]="FormFieldName.RuleOrder"
			       [name]="FormFieldName.RuleOrder"
			       [id]="one.value" [value]="one.value">

			<label [for]="one.value">{{ one.value }}</label>
		</div>
	</div>

</form>

<button [routerLink]="'/indent'">Start</button>
