<form [formGroup]="formGroup">
<!--	<p>form.value : {{ formGroup.value | json  }}</p>-->

	<div class="group">
		<h3>{{ languageSvc.getMsg(Message.ConfigFileType) }}</h3>

		<app-radio-group [formControlName]="FormFieldName.FileType"
		                 [enums]="fileTypes"
		                 [vertical]="true"></app-radio-group>
	</div>

	<div class="group">
		<h3 class="title">{{ languageSvc.getMsg(Message.Environment) }}</h3>

		<app-checkbox-group [formControlName]="FormFieldName.Environment"
		                    [enums]="envArr">
		</app-checkbox-group>
	</div>

	<div class="group targetPackages">
		<h3 class="title">{{ languageSvc.getMsg(Message.TargetPackages) }}</h3>

		<table>
			<thead>
				<tr>
					<th>{{ languageSvc.getMsg(Message.Category) }}</th>
					<th>{{ languageSvc.getMsg(Message.NpmPackage) }}</th>
					<th>{{ languageSvc.getMsg(Message.Select) }}</th>
					<th>{{ languageSvc.getMsg(Message.SkipRecommended) }}</th>
				</tr>
			</thead>
			<tbody [formGroupName]="FormFieldName.Packages">
				<tr *ngFor="let packageObj of packages" [formGroupName]="packageObj.text">
					<td>
						{{ packageObj.text }}
					</td>
					<td>
						<code class="language-">{{ packageObj.value }}</code>
					</td>
					<td>
						<div class="checkboxContainer">
							<app-checkbox class="checkbox" [formControlName]="0"></app-checkbox>
						</div>
					</td>
					<td>
						<div class="checkboxContainer">
							<app-checkbox class="checkbox" [formControlName]="1"></app-checkbox>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>

	<div class="group">
		<h3 class="title">{{ languageSvc.getMsg(Message.RuleOrder) }}</h3>

		<app-radio-group *ngIf="ruleOrders"
		                 [formControlName]="FormFieldName.RuleOrder"
		                 [enums]="ruleOrders"
		                 [vertical]="true">
		</app-radio-group>
	</div>
</form>
