<form [formGroup]="formGroup">
	<!--	<p>form.value : {{ formGroup.value | json  }}</p>-->

	<div class="group">
		<h3>Config File Type</h3>

		<app-radio-selector [formControlName]="FormFieldName.FileType"
		                    [enums]="fileTypes"
		                    [vertical]="true"></app-radio-selector>
	</div>

	<div class="group">
		<h3>Environment</h3>

		<app-checkbox-selector [formControlName]="FormFieldName.Environment"
		                       [enums]="envArr"></app-checkbox-selector>
	</div>

	<div class="group">
		<h3>Default Error Level</h3>

		<app-error-level-selector [formControlName]="FormFieldName.ErrorLevel"></app-error-level-selector>
	</div>

	<div class="group">
		<h3>skip rules in <code class="lang-js">"extends": "eslint:recommended"</code></h3>

		<div class="inputContainer">
			<input type="checkbox" [id]="FormFieldName.SkipRecommended"
			       [formControlName]="FormFieldName.SkipRecommended">
			<label [for]="FormFieldName.SkipRecommended">skip</label>
		</div>
	</div>

	<div class="group">
		<!-- todo: more extension plugins -->
		<h3>Target Packages</h3>

		<form [formGroupName]="FormFieldName.Packages">
			<div class="inputContainer" *ngFor="let one of packages">
				<input type="checkbox" [id]="one.value" [formControlName]="one.value">
				<label [for]="one.value">{{ one.text }} - <code class="language-">{{ one.value }}</code></label>
			</div>
		</form>
	</div>

	<div class="group">
		<h3>Rule Order</h3>

		<app-radio-selector [formControlName]="FormFieldName.RuleOrder"
		                    [enums]="ruleOrders"
		                    [vertical]="true"></app-radio-selector>
	</div>

</form>

<button [routerLink]="'/indent'">Start</button>
