<form *ngIf="formGroup" [formGroup]="formGroup"
      [class.vertical]="vertical">
	<div *ngFor="let one of enums;let i=index"
	     class="inputContainer" [class.active]="isIncluded(one.value)">
		<app-checkbox #checkbox [formControlName]="i"></app-checkbox>

		<ng-container *ngIf="headerTemplateRef;else simpleTemplate"
		              [ngTemplateOutlet]="headerTemplateRef"
		              [ngTemplateOutletContext]="{ $implicit: one, context: this }"></ng-container>

		<ng-template #simpleTemplate>
			<span class="label" (click)="checkbox.writeValue(!checkbox.value)">{{ one.text }}</span>
		</ng-template>
	</div>
</form>
