<!--<p>form.value: {{ formGroup?.value | json }}</p>-->

<div *ngIf="rule">
	<div class="info">
		<div class="header">
			<h1 class="name"><code class="code">{{ rule.name }}</code></h1>

			<span *ngIf="rule.recommended" class="recommended" title="recommended">👍</span>
			<span *ngIf="rule.fixable" class="fixable" title="fixable">🔧</span>
		</div>

		<p class="description" *ngIf="descriptionSanitized" [innerHTML]="descriptionSanitized"></p>

		<div class="version">
			<span class="devFont">{{ languageSvc.getMsg(Message.Version)}}: {{ rule.version }}</span>
		</div>
	</div>

	<form *ngIf="formGroup" [formGroup]="formGroup">
		<h2 class="errorLevel">{{ languageSvc.getMsg(Message.ErrorLevel) }}</h2>

		<app-error-level-selector [formControlName]="FormFieldName.ErrorLevel"></app-error-level-selector>

		<h2 class="optionsHeader">{{ languageSvc.getMsg(Message.Options) }}</h2>

		<div class="optionsContainer">
			<app-option-selector [rule]="rule"
			                     [formControlName]="FormFieldName.Option"
			                     [disabled]="getFormCtrl(FormFieldName.Option)?.disabled || false"></app-option-selector>
		</div>

		<app-example-viewer *ngFor="let example of rule.examples"
		                    [example]="example"></app-example-viewer>

		<div *ngIf="rule.additionalOptions">
			<h2 class="additionalOptionsHeader">{{ languageSvc.getMsg(Message.AdditionalOptions) }}</h2>

			<div class="optionsContainer">
				<app-additional-option-selector [rule]="rule"
				                                [formControlName]="FormFieldName.AdditionalOptions"
				                                [disabled]="getFormCtrl(FormFieldName.AdditionalOptions)?.disabled || false"></app-additional-option-selector>
			</div>
		</div>
	</form>
</div>
