.info
	.header
		display: flex
		align-items: center

		.recommended, .fixable
			margin-left: .4rem

	.description
		margin-top: 1rem

	.version
		margin-top: 1rem

form
	margin-top: 1rem

	.options,
	.additionalOptions
		.header
			margin-top: 1rem

		.selector
			margin-top: .6rem
