<div class="wrapper">
	<div class="header">
		<div class="top">
			<p class="title devFont textInset">create-eslintrc</p>

			<app-language-selector></app-language-selector>
		</div>

		<div class="divide horizontal"></div>
		<div class="fadeBG"></div>
	</div>

	<div class="contents">
		<div class="left">
			<router-outlet></router-outlet>
		</div>

		<div class="right">
			<div class="divide vertical"></div>

			<div class="preview">
				<div class="header">
					<div class="left">
						<h3>{{ languageSvc.getMsg(Message.Result) }}</h3>
						<span *ngIf="resultSet && resultSet.fileName">({{ resultSet.fileName }})</span>
					</div>

					<button class="btn" type="button" *ngIf="resultSet">Download</button>
				</div>

				<app-code-viewer *ngIf="resultSet"
				                 [syntax]="resultSet.syntaxType"
				                 [code]="resultSet.code"></app-code-viewer>
			</div>
		</div>
	</div>

	<div class="footer">
		<div class="fadeBG"></div>
		<div class="divide horizontal"></div>

		<div class="progress">
			<div class="bg">
				<ng-container *ngIf="currentIndex !== undefined && rules">
					<div class="indicator"
					     [style.width.%]="(currentIndex+1)/rules.length * 100"></div>

					<div class="countContainer">
						<span class="count">{{ currentIndex + 1 }} / {{ rules.length }}</span>
					</div>
				</ng-container>
			</div>
		</div>

		<div class="buttons">
			<button class="btn" type="button"
			        *ngIf="previousLink" [routerLink]="previousLink">
				{{ languageSvc.getMsg(Message.Previous) }}
			</button>
			<button class="btn" type="button"
			        *ngIf="nextLink" [routerLink]="nextLink">
				{{ languageSvc.getMsg(Message.Next) }}
			</button>
		</div>
	</div>
</div>
