<div class="wrapper">
	<div class="header">
		<p class="title devFont textInset">create-eslintrc</p>

		<div class="divide horizontal"></div>
		<div class="fadeBG"></div>
	</div>

	<div class="contents">
		<div class="left">
			<router-outlet></router-outlet>
		</div>

		<div class="right">
			<div class="divide vertical"></div>

			<div class="preview">
				<div class="header">
					<div class="left">
						<h3>Result</h3>
						<span *ngIf="resultSet && resultSet.fileName">({{ resultSet.fileName }})</span>
					</div>

					<button class="btn" type="button" *ngIf="resultSet">Download</button>
				</div>

				<app-code-viewer *ngIf="resultSet"
				                 [syntax]="resultSet.syntaxType"
				                 [code]="resultSet.code"></app-code-viewer>
			</div>
		</div>
	</div>

	<div class="footer">
		<div class="fadeBG"></div>
		<div class="divide horizontal"></div>

		<div class="progress">
			<div class="bg">
				<div class="indicator" [style.width.%]="progressRatio * 100"></div>
			</div>
		</div>

		<div class="buttons">
			<button class="btn" type="button">previous</button>
			<button class="btn" type="button">next</button>
		</div>
	</div>
</div>
