<ng-container *ngIf="rule">
	<div class="header">
		<h1 class="name devFont">{{ rule.name }}</h1>

		<span *ngIf="rule.recommended" class="recommended" title="recommended">👍</span>
		<span *ngIf="rule.fixable" class="fixable" title="fixable">🔧</span>
	</div>

	<p class="description" *ngIf="descriptionSanitized" [innerHTML]="descriptionSanitized"></p>

	<div class="version">
		<span class="devFont">{{ rule.version }}</span>
	</div>

	<h2>Options</h2>
	<app-option-selector [rule]="rule"></app-option-selector>

	<ng-container *ngIf="rule.additionalOptions">
		<h2>Additional Options</h2>
		<app-additional-option-selector [rule]="rule"></app-additional-option-selector>
	</ng-container>
</ng-container>
